<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>EditOrderServlet</display-name>
    <servlet-name>EditOrderServlet</servlet-name>
    <servlet-class>com.controller.admin.order.EditOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrderServlet</servlet-name>
    <url-pattern>/EditOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGameFormServlet</display-name>
    <servlet-name>AddGameFormServlet</servlet-name>
    <servlet-class>com.controller.admin.order.AddGameFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameFormServlet</servlet-name>
    <url-pattern>/AddGameFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGameToOrderServlet</display-name>
    <servlet-name>AddGameToOrderServlet</servlet-name>
    <servlet-class>com.controller.admin.order.AddGameToOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameToOrderServlet</servlet-name>
    <url-pattern>/AddGameToOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveGameFromOrderServlet</display-name>
    <servlet-name>RemoveGameFromOrderServlet</servlet-name>
    <servlet-class>com.controller.admin.order.RemoveGameFromOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGameFromOrderServlet</servlet-name>
    <url-pattern>/RemoveGameFromOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>com.controller.admin.order.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.controller.admin.order.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerFormServlet</display-name>
    <servlet-name>NewCustomerFormServlet</servlet-name>
    <servlet-class>com.controller.admin.customer.NewCustomerFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerFormServlet</servlet-name>
    <url-pattern>/NewCustomerFormServlet</url-pattern>
  </servlet-mapping>
</web-app>